In [1]:
#https://towardsdatascience.com/data-handling-using-pandas-machine-learning-in-real-life-be76a697418c
import pandas as pd
from sklearn.linear_model import LogisticRegression


bankdf = pd.read_csv('bank.csv',sep=';') # check the csv file before to know that 'comma' here is ';'

##il csv sono i valori di una campagna di una banca fatta telefonicamente e il flag 'y' indica se la campagna a seguito un contratto oppure no 

out_label = bankdf.groupby('y')     #si esegue una grup by per il campo 'y' 
                                    #gia la grup by ci mostra numerosi dati numeri contratti l'eta (last call per le chiamate ) 
print (bankdf.groupby('y').mean())  #raggruppa per y e' mostra il significato (nome di colonne) mostra tutte le colonne escludendo le 
                                    #colonne che  hanno valori missing o che hanno dentro valori non int o non float dunque rimangono 
#fuori campi molto importanti come job maritl etc etc che bisogna cercare di mettere dentro 

cat_list = ['job','marital','education','default','housing','loan','contact','month','poutcome']
for ele1 in cat_list:
    add = pd.get_dummies(bankdf[ele1], prefix=ele1)  #crea una matrice con i valori dummy (quelli della lista) che sono string con  i valori tradotti 
                                                     #in int con il nome del campo modificato con nome_campo+valore 
    bankdf = bankdf.join(add)                       # aggiunge alla matrice esistente la nuova matrice 
    print (bankdf.head(3))

           age      balance        day    duration  campaign      pdays  \
y
no   40.998000  1403.211750  15.948750  226.347500  2.862250  36.006000
yes  42.491363  1571.955854  15.658349  552.742802  2.266795  68.639155

     previous
y
no   0.471250
yes  1.090211
   age         job  marital  education default  balance housing loan  \
0   30  unemployed  married    primary      no     1787      no   no
1   33    services  married  secondary      no     4789     yes  yes
2   35  management   single   tertiary      no     1350     yes   no

    contact  day  ... job_entrepreneur  job_housemaid  job_management  \
0  cellular   19  ...                0              0               0
1  cellular   11  ...                0              0               0
2  cellular   16  ...                0              0               1

   job_retired  job_self-employed job_services job_student  job_technician  \
0            0                  0            0           0               0
1            0                  0            1           0               0
2            0                  0            0           0               0

   job_unemployed  job_unknown
0               1            0
1               0            0
2               0            0

[3 rows x 29 columns]
   age         job  marital  education default  balance housing loan  \
0   30  unemployed  married    primary      no     1787      no   no
1   33    services  married  secondary      no     4789     yes  yes
2   35  management   single   tertiary      no     1350     yes   no

    contact  day  ... job_retired  job_self-employed  job_services  \
0  cellular   19  ...           0                  0             0
1  cellular   11  ...           0                  0             1
2  cellular   16  ...           0                  0             0

   job_student  job_technician job_unemployed job_unknown  marital_divorced  \
0            0               0              1           0                 0
1            0               0              0           0                 0
2            0               0              0           0                 0

   marital_married  marital_single
0                1               0
1                1               0
2                0               1

[3 rows x 32 columns]
   age         job  marital  education default  balance housing loan  \
0   30  unemployed  married    primary      no     1787      no   no
1   33    services  married  secondary      no     4789     yes  yes
2   35  management   single   tertiary      no     1350     yes   no

    contact  day  ... job_technician  job_unemployed  job_unknown  \
0  cellular   19  ...              0               1            0
1  cellular   11  ...              0               0            0
2  cellular   16  ...              0               0            0

   marital_divorced  marital_married marital_single education_primary  \
0                 0                1              0                 1
1                 0                1              0                 0
2                 0                0              1                 0

   education_secondary  education_tertiary  education_unknown
0                    0                   0                  0
1                    1                   0                  0
2                    0                   1                  0

[3 rows x 36 columns]
   age         job  marital  education default  balance housing loan  \
0   30  unemployed  married    primary      no     1787      no   no
1   33    services  married  secondary      no     4789     yes  yes
2   35  management   single   tertiary      no     1350     yes   no

    contact  day  ... job_unknown  marital_divorced  marital_married  \
0  cellular   19  ...           0                 0                1
1  cellular   11  ...           0                 0                1
2  cellular   16  ...           0                 0                0

   marital_single  education_primary education_secondary education_tertiary  \
0               0                  1                   0                  0
1               0                  0                   1                  0
2               1                  0                   0                  1

   education_unknown  default_no  default_yes
0                  0           1            0
1                  0           1            0
2                  0           1            0

[3 rows x 38 columns]
   age         job  marital  education default  balance housing loan  \
0   30  unemployed  married    primary      no     1787      no   no
1   33    services  married  secondary      no     4789     yes  yes
2   35  management   single   tertiary      no     1350     yes   no

    contact  day  ... marital_married  marital_single  education_primary  \
0  cellular   19  ...               1               0                  1
1  cellular   11  ...               1               0                  0
2  cellular   16  ...               0               1                  0

   education_secondary  education_tertiary education_unknown default_no  \
0                    0                   0                 0          1
1                    1                   0                 0          1
2                    0                   1                 0          1

   default_yes  housing_no  housing_yes
0            0           1            0
1            0           0            1
2            0           0            1

[3 rows x 40 columns]
   age         job  marital  education default  balance housing loan  \
0   30  unemployed  married    primary      no     1787      no   no
1   33    services  married  secondary      no     4789     yes  yes
2   35  management   single   tertiary      no     1350     yes   no

    contact  day  ... education_primary  education_secondary  \
0  cellular   19  ...                 1                    0
1  cellular   11  ...                 0                    1
2  cellular   16  ...                 0                    0

   education_tertiary  education_unknown  default_no default_yes housing_no  \
0                   0                  0           1           0          1
1                   0                  0           1           0          0
2                   1                  0           1           0          0

   housing_yes  loan_no  loan_yes
0            0        1         0
1            1        0         1
2            1        1         0

[3 rows x 42 columns]
   age         job  marital  education default  balance housing loan  \
0   30  unemployed  married    primary      no     1787      no   no
1   33    services  married  secondary      no     4789     yes  yes
2   35  management   single   tertiary      no     1350     yes   no

    contact  day  ... education_unknown  default_no  default_yes  housing_no  \
0  cellular   19  ...                 0           1            0           1
1  cellular   11  ...                 0           1            0           0
2  cellular   16  ...                 0           1            0           0

   housing_yes loan_no loan_yes  contact_cellular  contact_telephone  \
0            0       1        0                 1                  0
1            1       0        1                 1                  0
2            1       1        0                 1                  0

   contact_unknown
0                0
1                0
2                0

[3 rows x 45 columns]
   age         job  marital  education default  balance housing loan  \
0   30  unemployed  married    primary      no     1787      no   no
1   33    services  married  secondary      no     4789     yes  yes
2   35  management   single   tertiary      no     1350     yes   no

    contact  day  ... month_dec  month_feb  month_jan  month_jul  month_jun  \
0  cellular   19  ...         0          0          0          0          0
1  cellular   11  ...         0          0          0          0          0
2  cellular   16  ...         0          0          0          0          0

  month_mar month_may  month_nov  month_oct  month_sep
0         0         0          0          1          0
1         0         1          0          0          0
2         0         0          0          0          0

[3 rows x 57 columns]
   age         job  marital  education default  balance housing loan  \
0   30  unemployed  married    primary      no     1787      no   no
1   33    services  married  secondary      no     4789     yes  yes
2   35  management   single   tertiary      no     1350     yes   no

    contact  day  ... month_jun  month_mar  month_may  month_nov  month_oct  \
0  cellular   19  ...         0          0          0          0          1
1  cellular   11  ...         0          0          1          0          0
2  cellular   16  ...         0          0          0          0          0

  month_sep poutcome_failure  poutcome_other  poutcome_success  \
0         0                0               0                 0
1         0                1               0                 0
2         0                1               0                 0

   poutcome_unknown
0                 1
1                 0
2                 0

[3 rows x 61 columns]

In [ ]:
#a questo punto vanno rimosse le colonne vere e costruita una nuova  list of column senza le precedenti

In [ ]:
bank_vars = bankdf.columns.values.tolist()

In [ ]:
to_keep = [i for i in bank_vars if i not in cat_list]

In [ ]:
print (to_keep)

In [ ]:
#a questo punto i dati sono puliti per essere elaborati

In [ ]:
bank_final = bankdf[to_keep]

In [ ]:
print (bank_final)

In [ ]:
print (bank_final.columns.values)

In [ ]:
print (bank_final.columns.values.tolist())

In [ ]:
bank_final_vars=bank_final.columns.values.tolist()

In [ ]:
Y = ['y']
X = [i for i in bank_final_vars if i not in Y]

In [ ]:
print (Y)

In [ ]:
print (X)

In [35]:
model = LogisticRegression()